body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(header.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: #e2dbdb;
    font-size: 3rem;
    text-transform: uppercase;
}

.buffer {
    height: 14rem;
}

hr {
    border-color: #f05f04;
    border-width: 3px;
    max-width: 65px;
}

.btn {
    border-radius: 250px;
    font-weight: 700;
    text-transform: uppercase;
    color: #e2dbdb;
}

.btn-primary {
    background-color: #f05f44;
    border-color: #f05f44;

}

.btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
}

.btn-xl {
    padding: 1rem 2rem;
}